BODY{
  background-color: beige;
}
#s{
  font-style: italic;
  letter-spacing: 0.1rem;
}
main{
     display: flex;
    /* justify-content:center;  */
    /* height:calc(100vh-100px) ; */
    align-items:start;
    text-align: start;
    padding-left:20px;
    margin-top: 20px;
}
main h4{
 letter-spacing:0.5px;
 }
 .right{
  padding-left: 150px;
}
#d{
  display: block;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.4rem;
  
  padding-left:100px;
}
