* {
  margin: 0;
  font-family: arial;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  height: 60px;
  background-color: black;
  color: white;
  align-items: center;
}
.border {
  border: 2px solid transparent;
}
.border:hover {
  border: 2px solid white;
}

/* box 1 */
.nav-logo {
  height: 50px;
  width: 100px;
}
.logo {
  padding-top: 5px;
}

/* box 2 */
.add-first {
  color: #cccccc;
  font-size: 0.8rem;
  margin-left: 15px;
}
.add-second {
  font-size: 1rem;
  margin-left: 3px;
}
.address-icon {
  display: flex;
  align-items: center;
}

/* box 3 */
.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  width: 620px;
  height: 40px;
  border-radius: 4px;
}
.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.search-input {
  width: 100%;
  font-size: 1 rem;
}
.search-icon {
  background-color: rgba(255, 166, 0, 0.836);
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* box 4 */
span {
  font-size: 0.7rem;
}

/* box 5  box 6 */
.nav-second {
  font-size: 1rem;
}

 /** panel **/
.panel{
  background-color: #222f3d;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
}
.panel-ops p{
  display: inline;
  padding-right: 1rem;
}
.panel-ops{
  width: 70%;
  font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/** MAIN **/
.hero-section{
  background-image:url(Screenshot\ 2025-11-24\ 141616.png);
  background-size:cover;
  background-repeat: no-repeat;
 height: 400px;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
   align-items: flex-end; 
}
.hero-msg {
   height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
  color: black;
  font-size: 0.85rem;
  width: 60%;
  margin-bottom: 25px;
  }
.hero-msg a{
  color: rgba(0, 0, 255, 0.725);
}

/** shop- section**/
.shop-section{
  background-color: #e2e7e6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;

}
.shop-section h2{
  margin: 5px;

  
}
.shop-section a{
  margin-left: 10px;
  text-decoration: none;
}

.box{
  align-items: center;
  margin: 5px;
  background-color:white;
  border: 0.5px solid black;
  height: 400px;
  width: 23%;
  border-radius: 1rem;
}
.box-1-img{
  height: 300px;
  background-image: url(https://up.yimg.com/ib/th/id/OIP.sjRwFEP0zssgqUJ7BB_lPAHaE8?pid=Api&rs=1&c=1&qlt=95&w=158&h=105);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  
}
.box-2-img{
  height: 300px;
  background-image: url(https://tse4.mm.bing.net/th/id/OIP.-NCBXUmTOhG7uu5NvTDI3QHaIL?pid=Api&P=0&h=180);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
  
}
.box-3-img{
  height: 300px;
  background-image: url(https://tse1.mm.bing.net/th/id/OIP.z3bjQ7z1SmsXmmilacZVMgHaE8?pid=Api&P=0&h=180);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
}
.box-4-img{
  height: 300px;
  background-image: url(https://tse4.mm.bing.net/th/id/OIP.-NCBXUmTOhG7uu5NvTDI3QHaIL?pid=Api&P=0&h=180);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
}
.box-5-img{
  height: 300px;
  background-image: url(https://tse2.mm.bing.net/th/id/OIP.JFLl-LyYy9z9i9DTddPefgHaEo?pid=Api&P=0&h=180);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
}
.box-6-img{
  height: 300px;
  background-image: url(https://sp.yimg.com/ib/th?id=OPAC.KE7a0Ow%2bWNj34Q474C474&o=5&pid=21.1&w=160&h=105);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
}
.box-7-img{
  height: 300px;
  background-image: url(https://tse2.mm.bing.net/th/id/OIP.PhJrFxEqykSlWg-zQwhr6QHaHa?pid=Api&P=0&h=180);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
}
.box-8-img{
  height: 300px;
  background-image: url(https://tse3.mm.bing.net/th/id/OIP.zKJEzVWBgSYzvHID30YEUQHaEJ?pid=Api&P=0&h=180);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
}
.sign-in{
  margin-top: 20px;
  text-align: center;
  background-color: white;
   
}
.sign-in button{
  background-color: rgba(255, 166, 0, 0.5);
  height: 35px;
  width: 100px;
  border: 0;
  border-radius: 0.8rem;
  margin-top: 5px;
 cursor: pointer;
 }
 .sign-in button:hover{
    background-color: #222f3d;
    color: white;
 }
.sign-in p{
  font-size: 0.7rem;
  margin-top: 5px;
}

/** footer **/
footer{
  margin-top: 30px;
}
.foot-panel-1{
  height: 50px;
  background-color: #37475a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  }

  .foot-panel-2{
    height: 450px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
  }
  ul{
    margin-top: 20px;
  }
  ul a{
    color:#dddddd;
    display: block;
    text-decoration: none;
    font-size: 0.85rem;
    margin-top: 10px;
  }
  .foot-panel-3{
    height: 70px;
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo{
    
     height: 50px;
     width: 100px;
  }

  .foot-panel-5{
    background-color: rgba(0, 0, 0, 0.905);
    color: white;
    height: 80px;
     font-size: 0.7rem;
     text-align: center;
    /* display: flex; 
    justify-content:center;
    align-items: center; */

  }
.foot-panel-4{
    background-color:#37475a;
    color: white;
    height: 300px;
    display:grid;
   grid-template-columns: repeat(4,1fr);
   padding: 40px;
}


  .foot-panel-5 a{
    color: white;
}
  .pages{
  
   padding-top: 25px;
}
  .copyright{
    padding-top: 10px;
}


/** sdhoejflwalkejk  **/




.box:hover{
 background-color: #222f3d;
 color: #cccccc;
}
.sign-in:hover{
  background-color: antiquewhite;
  
}