body {
        font-family: Arial, sans-serif;
        background: #f2f2f2;
      }

      .container {
        width: 90%;
        margin: 20px auto;
        background: white;
        border: 1px solid #000;
      }

      h2 {
        text-align: center;
        padding: 15px;
      }

      .section-title {
        background: #0f8ca8;
        color: white;
        padding: 8px;
        font-weight: bold;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      td {
        border: 1px solid #000;
        padding: 8px;
      }

      /* input[type="text"],
      input[type="date"],
      input[type="email"],
      select {
        width: 90%;
        padding: 5px;
      } */

      .buttons {
        text-align: center;
        padding: 15px;
      }

      button {
        padding: 6px 15px;
        margin: 5px;
      }