header{
    border-bottom: 2px solid black;
    text-align: center;
}
main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
}
.first{
    border-right: 2px solid black;
    padding: 2rem;
    font-size: 2rem;
}
.mid{
    padding: 5px;
}
.last{
    border-left: 2px solid black;
    list-style: none;
    padding: 2rem;
    font-size: 2rem;
}
img{
    width: 100%;
    border-radius: 5px;
}
footer{
    border-top: 2px solid black;
    padding: 2rem;
    text-align: center;
    font-size: 1.8rem;
    background-color: rgba(0, 0, 255, 0.378);
    color: gold;
}


