#items{
    font-weight: 500;
    font-size: medium;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(128, 128, 128, 0.76);
     height:100px;
     margin-bottom: 100px;
     
}
.container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-auto-rows:100px;
    gap: 4rem;
}
img{

    width :100%;
    height: 100%;
}
/* images */
.a{
    
    grid-column: 1 ;
    grid-row: span 2;
    
}
.c{
    grid-column: 3;
    grid-row: span 2;
}
.e{
    grid-column: 2;
}

.g{
    grid-column: 1;
}

.i{
    grid-column: 3;
  

}
/* text */
.b{
    grid-column: 2;
    grid-row: span 2;
      border: 2px dotted red;
}
.d{
    grid-column: 1;
      grid-row: span 2;
      border: 2px dotted red;
}

.f{
    grid-column: 3;
      grid-row: span 2;
      border: 2px dotted red;
}

.h{
    grid-column: 2;
      grid-row: span 2;
      border: 2px dotted red;
}
