body {
  font-family: Arial, sans-serif;
  background-color: #0caaaf41;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-image:linear-gradient(rgba(0, 255, 81, 0.262),rgba(20, 125, 170, 0.481));
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 320px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

button {
  border: 1px solid #ccc;
  background: white;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 48%;
}

button:hover {
  background: #f0f0f0;
}

.or {
  margin: 10px 0;
  color: #555;
}

form {
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: 14px;
}

.remember a {
  text-decoration: none;
  color: #007bff;
}

.signin-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signin-btn:hover {
  background-color: #0056b3;
}

.signup-text {
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #007bff;
  text-decoration: none;
}
